#root {
  display:flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}
.div_animal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
.div_animal {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid grey;
  width:25vw;
  border-radius: 5px;
 
}
.div_singleAnimal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border: 1px solid grey;
  margin: 0 auto 0 auto;
  padding: 10px;

}
p {
  margin: 10px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff4f4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  text-decoration: underline;
}
img {
  align-self: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.isFed {
  background-color: rgb(135, 227, 135);
}
.isHungry {
  background-color: rgb(191, 124, 124);
}